a, a:hover {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    line-height: 60px;
    padding-top: 140px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Microsoft YaHei"
}

h2 {
    font-size: 30px;
    line-height: 50px;
    padding-top: 40px;
}

a {
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 15px;
    color: #333;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #000;
    font-family: "Microsoft YaHei";
    transition: all .4s;
}

a:hover {
    background: #333;
    color: #fff;
    transition: all .4s;
}

.box{
    position: relative;
    width: 500px;
    height: 500px;
}

.box a{
    position: absolute;
    height: 30px;
    background: #000;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color:#fff;
}

.box .icon-1{
    left: 100px;
    top: 50px;
}
.box .icon-2{
    left: 250px;
    top: 100px;
} 
.img{
    background:url(../../../public/img/it.jpg) no-repeat center top;
    width: 228px;
    height: 200px;
    margin:20px auto;

} 