<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index - webpack - express</title>
</head>
<body>
    <img src="../../public/img/it.jpg" style="display:block;margin:0 auto;"  alt="">
    <div class="img"></div>
    <h1>Welcome Index Page</h1>
    <h2>webpack - express - example</h2>
    <a href="sub.html">下一页</a>
    <div class="box">
      <a href="javascript::" rel="webpack" class="tooltip icon-1">webpack</a>
      <a href="javascript::" rel="node" class="tooltip icon-2">nodeJS</a>
    </div>
</body>
</html>
